@import "/src/styles/extend.scss";

.galaxy-container {
  width: 100%;
  height: 100%;
  position: fixed;
     display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    user-select: none;
    pointer-events: none;
}
